.Features {
    width: 80%;
    margin: auto;
    padding: 40px;
    /* background: #419be0; */
}

.SlideDiv {
    display: flex !important;
}

.slick-slide img {
    margin: auto;
}

.slick-next:before,
.slick-prev:before {
    color: black;
}
